!!!
%html
  %head
    %title Anoon.pl - Anonimowe sekrety, wyznania i konwersacje
    %meta{name: 'description', content: 'Dziel się sekretami i anonimowymi informacjami. Znajdź wyznania nieznajomych, zobacz czy jest coś ciekawego dla Ciebie. 100% dyskrecji!'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/header'
    %div.container
      = yield
    = render partial: 'layouts/footer'